

<!--========== Header ==============-->
<header id="gen-header" class="gen-header-style-1 gen-has-sticky">
  <div class="gen-bottom-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" [routerLink]="['']">
              <img class="img-fluid logo" src="assets/images/logo-1.png" alt="streamlab-image">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div id="gen-menu-contain" class="gen-menu-contain">
                <ul id="gen-main-menu" class="navbar-nav ml-auto">
                  <li class="menu-item" routerLinkActive="active" >
                    <a [routerLink]="['']" aria-current="page">Home</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a [routerLink]="['Movies']" aria-current="page">Movies</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a [routerLink]="['TvShows/']" aria-current="page">Tv Shows</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a [routerLink]="['Pricing']" aria-current="page">Pricing</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a [routerLink]="['Contact']" aria-current="page">Contact Us</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a [routerLink]="['Blogs']" aria-current="page">Blogs </a>
                  </li>
                  
                </ul>
              </div>
            </div>
            <div class="gen-header-info-box">
              <div class="gen-menu-search-block">
                <a href="javascript:void(0)" id="gen-seacrh-btn"><i class="fa fa-search"></i></a>
                <div class="gen-search-form">
                  <form role="search" method="get" class="search-form" action="index.html">
                    <label>
                      <span class="screen-reader-text"></span>
                      <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                    </label>
                    <button type="submit" class="search-submit"><span class="screen-reader-text"></span></button>
                  </form>
                </div>
              </div>
              <div class="gen-account-holder">
                <a href="javascript:void(0)" id="gen-user-btn"><i class="fa fa-user"></i></a>
                <div class="gen-account-menu">
                  <ul class="gen-account-menu">
                    <!-- Pms Menu -->
                    <li>
                      <a [routerLink]="['','login']"><i class="fas fa-sign-in-alt"></i>
                        login </a>
                    </li>
                    <li>
                      <a [routerLink]="['','register']"><i class="fa fa-user"></i>
                        Register </a>
                    </li>
                  
                  </ul>
                </div>
              </div>
              <div class="gen-btn-container">
                <a [routerLink]="['','register']" class="gen-button">
                  <div class="gen-button-block">
                    <span class="gen-button-line-left"></span>
                    <span class="gen-button-text">Subscribe</span>
                  </div>
                </a>
              </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!--========== Header ==============-->
<router-outlet></router-outlet>
<!-- footer start -->
<footer id="gen-footer">
  <div class="gen-footer-style-1">
    <div class="gen-footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <div class="row">
                <div class="col-sm-12">
                  <img src="assets/images/asset-0.png" class="gen-footer-logo" alt="gen-footer-logo">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <ul class="social-link">
                    <li><a [routerLink]="['']" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a [routerLink]="['']" class="facebook"><i class="fab fa-instagram"></i></a></li>
                    <li><a [routerLink]="['']" class="facebook"><i class="fab fa-skype"></i></a></li>
                    <li><a [routerLink]="['']" class="facebook"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <h4 class="footer-title">Explore</h4>
              <div class="menu-explore-container">
                <ul class="menu">
                  <li class="menu-item">
                    <a [routerLink]="['']" aria-current="page">Home</a>
                  </li>
                  <li class="menu-item"><a [routerLink]="['','Movies']">Movies</a></li> 
                  <li class="menu-item"><a [routerLink]="['','TvShows']">Tv Shows</a></li>  
                  <li class="menu-item"><a [routerLink]="['']">Basketball</a></li>
                  <li class="menu-item"><a [routerLink]="['']">Celebrity</a></li>
                  <li class="menu-item"><a [routerLink]="['']">Cross</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="widget">
              <h4 class="footer-title">Company</h4>
              <div class="menu-about-container">
                <ul class="menu">
                  <li class="menu-item"><a [routerLink]="['','Contact']">Company</a>
                  </li>
                  <li class="menu-item"><a [routerLink]="['','Contact']">Privacy
                      Policy</a></li>
                  <li class="menu-item"><a [routerLink]="['','Contact']">Terms Of
                      Use</a></li>
                  <li class="menu-item"><a [routerLink]="['','Contact']">Help
                      Center</a></li>
                  <li class="menu-item"><a [routerLink]="['','Contact']">contact us</a></li>
                  <li class="menu-item"><a href="pricing-style-1.html">Subscribe</a></li>
                  <li class="menu-item"><a [routerLink]="['']">Our Team</a></li>
                  <li class="menu-item"><a [routerLink]="['','Contact']">Faq</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3  col-md-6">
            <div class="widget">
              <h4 class="footer-title">Downlaod App</h4>
              <div class="row">
                <div class="col-sm-12">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <a [routerLink]="['']">
                    <img src="assets/images/asset-35.png" class="gen-playstore-logo" alt="playstore">
                  </a>
                  <a [routerLink]="['']">
                    <img src="assets/images/asset-36.png" class="gen-appstore-logo" alt="appstore">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gen-copyright-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 align-self-center">
            <span class="gen-copyright"><a target="_blank" [routerLink]="['']"> Copyright 2021 stremlab All Rights
                Reserved.</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer End -->

<!-- Back-to-Top start -->
<div id="back-to-top">
  <a class="top" id="top" href="index.htmltop"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!-- Back-to-Top end -->